trigger: none

pool:
  name: MARA PAHLA AGENT POOL   # apna agent pool naam

variables:
  TF_VERSION: '1.6.6'

steps:

# Terraform Install
- task: TerraformInstaller@1
  inputs:
    terraformVersion: '$(TF_VERSION)'

# Terraform Init
- task: TerraformTaskV4@4
  displayName: Terraform Init
  inputs:
    provider: 'azurerm'
    command: 'init'

# Terraform Plan
- task: TerraformTaskV4@4
  displayName: Terraform Plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    environmentServiceNameAzureRM: 'workload identity federation'

# Terraform Apply
- task: TerraformTaskV4@4
  displayName: Terraform Apply
  inputs:
    provider: 'azurerm'
    command: 'apply'
    environmentServiceNameAzureRM: 'workload identity federation'
    args: '-auto-approve'

