trigger: none

pool:
  name: MARA PAHLA AGENT POOL

steps:

- task: TerraformInstaller@1
  inputs:
    terraformVersion: '1.14.5'

- powershell: |
    terraform -version
    terraform init
  displayName: "Terraform Init via CMD"


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/satyaojha'
    environmentServiceNameAzureRM: 'workload identity federation'