

trigger: none

pool:
  name: MARA PAHLA AGENT POOL   # yahan apna agent pool ka naam

steps:

- task: TerraformInstaller@1
  displayName: 'Install Terraform'
  inputs:
    terraformVersion: '1.12.1'

- task: TerraformTask@5
  displayName: 'Terraform Init'
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'Workload Identity federation details'
    backendAzureRmResourceGroupName: 'satya-rg'
    backendAzureRmStorageAccountName: 'rolex-'
    backendAzureRmContainerName: 'satya-container'
    backendAzureRmKey: 'terraform.tfstate'

- task: TerraformTask@5
  displayName: 'Terraform Plan'
  inputs:
    provider: 'azurerm'
    command: 'plan'
    environmentServiceNameAzureRM: 'Workload Identity federation details'

- task: TerraformTask@5
  displayName: 'Terraform Apply'
  inputs:
    provider: 'azurerm'
    command: 'apply'
    environmentServiceNameAzureRM: 'Workload Identity federation details'
    args: '-auto-approve'
