

trigger: none

pool: MARA PAHLA AGENT POOL   # yahan apna agent pool ka naam

steps:

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'Write-Host "Hello World"'


- task: TerraformInstaller@1
  inputs:
    terraformVersion: '1.14.5'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/satyaojha'
    backendServiceArm: 'workload identity federation'
    backendAzureRmResourceGroupName: 'satya-rg1'
    backendAzureRmStorageAccountName: 'satyastorage6'
    backendAzureRmContainerName: 'satyacontainers'
    backendAzureRmKey: 'satya.tf'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/satyaojha'
    environmentServiceNameAzureRM: 'workload identity federation'