
trigger: none

pool:
  name: MARA PAHLA AGENT POOL

variables:
  TF_VERSION: '1.6.6'

steps:

- task: TerraformInstaller@1
  inputs:
    terraformVersion: '$(TF_VERSION)'

- task: TerraformTaskV4@4
  displayName: Terraform Init
  inputs:
    provider: 'azurerm'
    command: 'init'

- task: TerraformTaskV4@4
  displayName: Terraform Plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    azureSubscription: 'PASTE EXACT SERVICE CONNECTION NAME'

- task: TerraformTaskV4@4
  displayName: Terraform Apply
  inputs:
    provider: 'azurerm'
    command: 'apply'
    azureSubscription: 'PASTE EXACT SERVICE CONNECTION NAME'
    args: '-auto-approve'
