trigger:
  - main

pool:
  name: MARA PAHLA AGENT POOL

steps:

- task: TerraformInstaller@1
  displayName: "Install Terraform"
  inputs:
    terraformVersion: '1.14.5'

- task: TerraformTask@5
  displayName: "Terraform Init"
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'workload identity federation'

